.App {
  font-family: sans-serif;
  text-align: center;
}

table{
  margin: 0 auto;
}

th{
  background-color: rgb(68, 109, 109);
  padding:5px 20px;
  color:whitesmoke;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notes-th {
  background-color: rgb(68, 109, 109);
  padding:5px 20px;
  color:whitesmoke;
  width:140px;
}

.notes-td {
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::selection {
  background: purple;
  color: white;
}

.savi-data {
  text-align: center;
  padding: 5px 10px;
  background-color:rgb(255, 165, 0)
}

.sydney-data {
  text-align: center;
  padding: 5px 10px;
  background-color: black;
  color: white;
}

.notacat-data {
  text-align: center;
  padding: 5px 10px;
  background-color:rgb(40, 255, 40)
}

.long-interval-data {
  text-align: center;
  padding: 5px 10px;
  background-color: yellow;
  color: black;
}

.very-long-interval-data {
  text-align: center;
  padding: 5px 10px;
  background-color: red;
  color: white;
}

.even-data {
  text-align: center;
  padding: 5px 10px;
  background-color:rgb(206, 229, 236)
}

.odd-data {
  text-align: center;
  padding: 5px 10px;
  background-color:rgb(122, 171, 250)
}

a {
  text-decoration: none;
  color: black;
}
